name: Build macOS

on:
  workflow_call:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17
          cache: gradle

      - name: Gradle cache
        uses: gradle/gradle-build-action@v2

      - name: Cache konan directory
        uses: actions/cache@v3
        with:
          path: ~/.konan
          key: ${{ runner.os }}-konan-${{ hashFiles('*.gradle.kts', 'buildSrc/*') }}
          restore-keys: |
            ${{ runner.os }}-konan- 

      - name: Cocoapods cache
        uses: actions/cache@v3
        id: cocoapods-cache
        with:
          path: |
            ~/.cocoapods
            ~/Library/Caches/CocoaPods
            */build/cocoapods
            */build/classes
          key: cocoapods-cache

      - name: Run iOS tests
        run: ./gradlew cleanTest webrtc-kmp:iosSimulatorArm64Test

      - name: Upload iOS test artifact
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: "iOS Tests Report HTML"
          path: "webrtc-kmp/build/reports/tests/iosX64Test"

      - name: Build sample app
        run: |
          cd sample/iosApp 
          xcodebuild -configuration Debug -scheme iosApp -sdk iphonesimulator -arch arm64
