name: Build All

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**/*.md"
  pull_request:
    paths-ignore:
      - "**/*.md"

  workflow_dispatch:

jobs:
  lint:
    name: Lint
    uses: ./.github/workflows/lint.yml

  build-linux:
    name: Build Linux
    uses: ./.github/workflows/build-linux.yml

  build-macos:
    name: Build macOS
    uses: ./.github/workflows/build-macos.yml
